<div class="cart-container">
    <h2>Carrito de Compras</h2>
  
    <!-- Mensaje si el carrito está vacío -->
    <div *ngIf="cartItems.length === 0">
      <p>El carrito está vacío. Agrega productos para verlos aquí.</p>
    </div>
  
    <!-- Si hay productos en el carrito, mostrar la lista -->
    <ul *ngIf="cartItems.length > 0">
      <li *ngFor="let item of cartItems">
        <div class="cart-item">
          <img [src]="item.image" alt="Imagen del producto" width="50" height="50">
          <div class="item-info">
            <div><strong>{{ item.name }}</strong></div>
            <div>Cantidad: {{ item.quantity }}</div>
            <div>Precio: ${{ item.price }}</div>
          </div>
          <button (click)="removeItem(item)">Eliminar</button>
        </div>
      </li>
    </ul>
  
    <!-- Mostrar el total si hay productos en el carrito -->
    <div *ngIf="cartItems.length > 0" class="cart-total">
      <h3>Total: ${{ getTotalPrice() }}</h3>
      <button class="checkout-button">Proceder al pago</button>
    </div>
  </div>
  
  
